.container{
display: flex;
align-items: center;
flex-direction: column;
}

.box{
height: 300px;
width: 550px;
border: 1px solid red;
/*background-color: grey;*/
}

.box img{
  height: 50px;
  width: 50px;
}
